.footer {
  padding: 37px 17px;
  margin-top: 32px;
}

.footer h3 {
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 1.675rem;
  color: #f1fff1;
}

.center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content,
.img,
.socials {
  margin-bottom: 20px;
}
.aside h5 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.75rem;
  color: var(--cir-footer-text);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.holders {
  margin-top: 30px;
}

.hero_form {
  margin-top: 30px;
}

.img {
  margin-right: 4px;
  display: inline-block;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social {
  margin-right: 15px;
  color: #f1fff1;
  background-color: var(--clr-light-black);
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--transition);
}

.social:hover {
  background-color: #f1fff1;
  color: var(--clr-light-black);
  scale: 1.15;
}
.holder {
  margin-bottom: 12px;
}

.holder a {
  color: var(--cir-footer-text);
  transition: var(--transition);
}

.holder a:hover {
  color: var(--clr-primary-2);
}

.hero_form form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  min-width: 155px;
  max-width: 90%;
  padding: 8px 14px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.hero_form input {
  width: 70%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f1fff1;
}

.form_btn {
  background: transparent;
  color: var(--cir-white);
  border-radius: 6px;
  font-size: 13px;
  transition: var(--transition);
}

.form_btn:hover {
  box-shadow: none;
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 74px 34px;
    min-height: 360px;
    margin-top: 64px;
  }
  .footer h3 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .center {
    width: 95vw;
    min-height: 250px;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    column-gap: 100px;
    row-gap: 30px;
  }
  .aside {
    height: 90%;
    margin-bottom: 0;
  }

  .content,
  .img,
  .socials {
    margin-bottom: 0px;
  }
  .mainContainer {
    display: grid;
    grid-template-columns: 1.2fr 1.7fr 1.5fr;
    column-gap: 100px;
    min-height: 100%;
    row-gap: 30px;
  }
  .main {
    height: 100%;
    margin-bottom: 0;
  }
  .form_btn {
    background: transparent;
    color: var(--cir-white);
    border-radius: 6px;
    font-size: 13px;
    transition: var(--transition);
  }
  .hero_form {
    margin-bottom: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.5fr;
    column-gap: 100px;
    min-height: 100%;
    row-gap: 30px;
  }
  .hero_form {
    min-width: 255px;
  }
}
